---
const { text, body, billede, pris = "/" } = Astro.props;
---

<div class="boks">
  <div class="flexboks">
    <div class="billede">
      <img src={billede} alt="" height="200" width="200" />
    </div>
    <div class="tekstboks">
      <div class="overskrift">
        <h1>{text}</h1>
        <h1>{pris}</h1>
      </div>
      <p>{body}</p>
    </div>
  </div>
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
      ><path
        fill="green"
        fill-rule="evenodd"
        d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10Zm-5.97-3.03a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.236L14.97 8.97a.75.75 0 0 1 1.06 0Z"
        clip-rule="evenodd"></path></svg
    >
    <a href="button">view here</a>
  </div>
</div>

<style>
  .flexboks {
    display: flex;
  }

  .boks {
    background-color: var(--gray-0);
    border: var(--gray-3) solid;
    margin: var(--size-00);
    padding: var(--size-3);
  }

  .tekstboks {
    padding-inline-start: var(--size-3);
  }

  .overskrift {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    padding-top: 0;
    font-family: var(--font-sans);
    font-size: var(--size-fluid-2);

    color: var(--gray-8);
  }

  p {
    font-family: var(--font-sans);
    color: var(--gray-7);
    max-inline-size: var(--size-content-3);
  }

  .logo {
    display: flex;
    justify-content: space-between;
    padding: var(--size-3);
  }

  a {
    text-decoration: none;
    font-family: var(--font-sans);
    color: var(--blue-7);
  }
</style>
